<manifest xmlns:android="http://schemas.android.com/apk/res/android"
   package="com.aragaer.yama"
   android:versionCode="1"
   android:versionName="0.1" >
   <uses-sdk
      android:minSdkVersion="16"
      android:targetSdkVersion="21" />
   <application android:label="Yama" android:icon="@drawable/ic_launcher">
       <activity
	   android:name=".MainActivity"
	   android:icon="@drawable/ic_launcher"
	   android:label="create memo" >
	   <intent-filter>
	       <action android:name="android.intent.action.MAIN" />
	       <category android:name="android.intent.category.LAUNCHER"/>
	   </intent-filter>
       </activity>
       <activity
	   android:name=".ListActivity"
	   android:icon="@drawable/ic_launcher"
	   android:label="list memos" >
	   <intent-filter>
	       <action android:name="android.intent.action.MAIN" />
	       <category android:name="android.intent.category.LAUNCHER"/>
	   </intent-filter>
       </activity>
       <activity
	   android:name=".EditActivity"
	   android:icon="@drawable/ic_launcher"
	   android:label="list memos" />
   </application>
</manifest>
