<manifest xmlns:android="http://schemas.android.com/apk/res/android"
   package="com.aragaer.yama"
   android:versionCode="1"
   android:versionName="1.0" >
   <uses-sdk
      android:minSdkVersion="16"
      android:targetSdkVersion="21" />
   <application android:label="hello" >
       <activity
           android:name=".MainActivity"
           android:label="hello" >
           <intent-filter>
               <action android:name="android.intent.action.MAIN" />
               <category android:name="android.intent.category.LAUNCHER"/>
           </intent-filter>
       </activity>
   </application>
</manifest>
