<manifest xmlns:android="http://schemas.android.com/apk/res/android"
   package="com.aragaer.yama"
   android:versionCode="3"
   android:versionName="0.2" >
   <uses-sdk
      android:minSdkVersion="14"
      android:targetSdkVersion="21" />
   <application android:label="Yama"
		android:icon="@drawable/ic_launcher"
		android:theme="@android:style/Theme.Holo.Light">
       <activity
	   android:name=".MemoCreateActivity"
	   android:icon="@drawable/ic_launcher"
	   android:label="create memo" >
	   <intent-filter>
	       <action android:name="android.intent.action.MAIN" />
	       <category android:name="android.intent.category.LAUNCHER"/>
	   </intent-filter>
       </activity>
       <activity
	   android:name=".MemoListActivity"
	   android:icon="@drawable/ic_launcher"
	   android:label="list memos" >
	   <intent-filter>
	       <action android:name="android.intent.action.MAIN" />
	       <category android:name="android.intent.category.LAUNCHER"/>
	   </intent-filter>
       </activity>
   </application>
</manifest>
